nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;

}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    min-height: 70vh;
    align-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

@media screen and (max-width: 600px) {
    table {
        overflow-x: auto;
    }
}

@media only screen and (max-width: 600px) {

    main {
        display: block;
        width: 100%;
    }
}

#section1,
#section2 {
    background-color: #333;
    padding: 1px 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    color: white;
}

#slider {
    overflow: hidden;
}

#slider li {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider li img {
    float: left;
    width: 20%;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}