* {
    font-family: "Montserrat", sans-serif;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul :hover {
    color: lightblue;

}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

footer {

    display: inline-block;
    
    width: 100%;
    padding: 20px;

}

.main {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    min-height: 685px;
    margin: 10px;
    width: 100%;
}

main {
    background-color: #f0f0f0;
}

@media only screen and (max-width: 600px) {

    main {
        display: block;
        width: 100%;
    }
}

.botoes {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.botoes label {
    width: 100%;
    margin: 3px;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: -140px;
    font-weight: 550;
}

input {
    border: none;
    background-color: #e9e7e7;
    margin: 8px 0;
    font-size: 13px;
    border-radius: 8px;
    width: 20rem;
    height: 2.5rem;

}

#submit {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    padding: 10px 45px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}